@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;800&display=swap');

.ProductLogo {
	contain: content;
	position: absolute;
	bottom: .5em;
	right: -.5em;

	border-radius: 1.5em 0 0 1.5em;
	padding: 1em 3em 1em 1.5em;

	font-family: Kanit, sans-serif;
	line-height: .9;

	color: #FFF;
}

.ProductLogo p {
	margin: 0;
}

.ProductLogo-poweredby {
	font-size: .75em;
}

.ProductLogo-logo {
	font-size: 1.5em;
	font-weight: bold;
}
