@keyframes contentShow {
	from {
		opacity: 0;
		transform: translateY(2%) scale(0.96);
	}
	to {
		opacity: 1;
	}
}

.Dialog-content {
	contain: strict;
	box-sizing: border-box;
	position: fixed;
	left: 12px;
	top: max(12px, var(--ol-height) - 412px);
	z-index: 999;

	border: 1px solid var(--wnd-st);
	border-radius: var(--wnd-radius);

	width: calc(100% - 20px);
	max-width: 540px;
	height: 400px;
	max-height: calc(90vh - 24px);

	background-color: var(--wnd-bg-nonblur);

	animation: contentShow 167ms ease-in-out;
}
@supports (height: 100svh) {
	.Dialog-content {
		max-height: calc(90svh - 24px);
	}
}
body:not(.env-nonblur) .Dialog-content {
	background-color: var(--wnd-bg);
	-webkit-backdrop-filter: var(--wnd-backdrop);
	backdrop-filter: var(--wnd-backdrop);
}
.ax-reduced .Dialog-content {
	animation: fadeIn 167ms ease-out;
}

.Dialog-tab {
	display: flex;
	height: 100%;
}

.Dialog-tablist {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	gap: 2px;

	padding: calc(40px + 1.875em) 8px;

	width: 25%;
	max-width: 140px;

	background-color: #FFFFFF09;
}

.Dialog-tabitem {
	box-sizing: border-box;

	border-radius: var(--ctl-radius-sm);
	border-style: none;
	padding: .25em .75em;

	font-family: inherit;
	font-size: 87.5%;
	text-align: left;

	color: inherit;
	background-color: transparent;
	transition: var(--ctl-transition);
}
@media (any-pointer: coarse) {
	.Dialog-tabitem {
		padding-top: .375em;
		padding-bottom: .375em;
	}
}
.Dialog-tabitem[data-state=active] {
	background-color: var(--ctl-bg);
}
.Dialog-tabitem:hover {
	background-color: var(--ctl-bg--hover);
}

@keyframes tabContentShow {
	from {
		opacity: 0;
		transform: translateY(2%);
	}

	to {
		opacity: 1;
	}
}
.Dialog-tabcontent {
	contain: content;
	overflow: clip auto;
	flex-grow: 1;

	padding: 20px;

	animation: tabContentShow 167ms ease-in-out;
}
.ax-reduced .Dialog-tabcontent {
	animation: none;
}

.Form-title {
	margin: 0;

	font-size: 1.5em;
	font-weight: normal;
	line-height: 1.25;

	user-select: none;
}

.Form-group,
.About-group {
	margin: 20px 0 0;

	user-select: none;
}

.Form-group h3 {
	margin: 0 0 .5em;
	font-size: 1em;
}

.Form-group h4 {
	margin: 0 0 .25em;
	font-size: 1em;
	font-weight: normal;
}

.Form-description {
	margin: -.25em 0 .5em;
	font-size: .875em;
	color: #FFFFFFE6;
}

.Form-group .StatusText {
	font-size: .875em;
}

.SettingsDialog-close {
	position: absolute;
	top: 0;
	right: 0;

	width: 64px;
	height: 36px;

	border-radius: 0 var(--ctl-radius) 0 0 !important;
}

.About-group {
	text-align: center;
}

.About-name {
	display: inline-block;

	font-family: Kanit, sans-serif;
	font-size: 32px;
	font-weight: bold;
	line-height: .9;

	color: transparent;
	background-image: linear-gradient(120deg, #FF6589, #FF8F65);
	-webkit-background-clip: text;
	background-clip: text;
}

.About-version,
.About-license,
.About-copyright {
	font-size: 14px;

	color: var(--fg-secondary);
}

.About-version,
.About-license {
	margin-top: .5em;
}
