root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.css]
charset = utf-8
indent_style = tab

[*.json]
charset = utf-8
indent_style = tab

[*.{js,jsx,ts,tsx}]
charset = utf-8
indent_style = tab

[package.json]
indent_style = space
indent_size = 2
