.EggGraph header {
	display: flex;
	align-items: baseline;
	gap: .25em;

	margin: .25em .75em 0 1.25em;
	line-height: 2.5em;
	color: #FFF;
}

.EggGraph-wave {
	font-size: 1.25em;
	font-weight: bold;
}

@keyframes showStatus {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	20% {
		opacity: 0.5;
		transform: scale(1.8);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.EggGraph-status {
	flex-shrink: 0;
	font-size: 1.375em;
	font-weight: bold;
	transform-origin: center;
	animation: showStatus 300ms 84ms ease-in-out;
}
.EggGraph-status-clear {
	color: var(--fg-pos);
}
.EggGraph-status-fail {
	color: var(--fg-neg);
}

.EggGraph-quota {
	flex-grow: 1;
	flex-shrink: 0;
	color: #CCC;
	text-align: right;
}

/* Color Assets */
.EggGraph {
	--ink: var(--ink-support-yellow);
	--ink--neutral: var(--ink-support-yellow--neutral);
}
.EggGraph-ink-default {
	--ink: var(--ink-default);
	--ink--neutral: var(--ink-default--neutral);
}
.EggGraph-ink-blue {
	--ink: var(--ink-blue);
	--ink--neutral: var(--ink-blue--neutral);
}
.EggGraph-ink-orange {
	--ink: var(--ink-orange);
	--ink--neutral: var(--ink-orange--neutral);
}
.EggGraph-ink-pink {
	--ink: var(--ink-pink);
	--ink--neutral: var(--ink-pink--neutral);
}
.EggGraph-ink-purple {
	--ink: var(--ink-purple);
	--ink--neutral: var(--ink-purple--neutral);
}
.EggGraph-ink-sunyellow {
	--ink: var(--ink-sunyellow);
	--ink--neutral: var(--ink-sunyellow--neutral);
}
.EggGraph-ink-yellow {
	--ink: var(--ink-yellow);
	--ink--neutral: var(--ink-yellow--neutral);
}

/* Base */
.EggGraph svg {
	position: absolute;
	inset: 0;

	font-family: inherit;
	font-size: 16px;
	vertical-align: middle;
}
.EggGraph line {
	shape-rendering: geometricPrecision !important;
}

.EggGraph-background {
	fill: #FFFFFF09;
}

/* Grid */
.EggGraph-grid line {
	stroke: #FFFFFF40;
	stroke-width: 1px;
}

/* Axis */
.EggGraph-axis {
	font-size: .8em;
}
.EggGraph-axis line,
.EggGraph-axis-line {
	stroke: #808080;
	stroke-width: 2px;
}
.EggGraph-axis text,
.EggGraph-axis-text {
	fill: #CCC;
}
.EggGraph-axis-y text,
.EggGraph-axis-y-text {
	text-anchor: end;
}

/* HLine */
.EggGraph-hline-quota line {
	stroke: var(--ink--neutral);
	stroke-dasharray: 6 3;
	stroke-width: 2px;
}
.EggGraph-hline-quota text {
	fill: var(--ink--neutral);
	font-size: .8em;
	font-weight: bold;
	text-anchor: start;
}

/* Item */
.EggGraph-item-line {
	stroke: var(--ink);
	stroke-linecap: butt;
	stroke-width: 3px;
}
.EggGraph-item-line-bg {
	stroke: var(--ink);
	stroke-linecap: round;
	stroke-opacity: .25;
	stroke-width: 7.5px;
}

/* Player Item */
.EggGraph-player-item-alive {
	stroke: var(--ink);
	stroke-width: 3px;
}
.EggGraph-player-item-alive-bg {
	stroke: var(--ink);
	stroke-linecap: round;
	stroke-opacity: .25;
	stroke-width: 7.5px;
}
.EggGraph-player-item-gegg {
	stroke: var(--ink--neutral);
	stroke-width: 3px;
}
