.OverlayHost {
	contain: content;
	position: relative;
	overflow: clip;
	width: var(--ol-width);
	height: var(--ol-height);

	margin: 0 auto;

	font-size: 1.25vw;

	color: #FFFFFF;
	background: linear-gradient(to right, #2b5876, #4e4376);
}

.OverlayHost--broadcast {
	background: transparent;
}
