:root {
	--ol-bg: #1A1A1A;
	--ol-width: min(100vw, 16 * (100vh - 2.25rem - 8px) / 9);
	--ol-height: calc(9 * var(--ol-width) / 16);
}
@supports (height: 100svh) {
	:root {
		--ol-width: min(100vw, 16 * (100svh - 2.25rem - 8px) / 9);
		--ol-height: calc(9 * var(--ol-width) / 16);
	}
}

.OverlayHost {
	contain: strict;
	overflow: clip;
	width: var(--ol-width);
	height: var(--ol-height);

	margin: 0 auto;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-optical-sizing: none;
	font-size: calc(0.0125 * var(--ol-width));

	color: #FFF;
	background: linear-gradient(to right, #2b5876, #4e4376);

	user-select: none;
}
.env-broadcast .OverlayHost {
	background: transparent;
}

.Overlay {
	background-color: var(--ol-bg);
}

.Overlay-left {
	border-radius: 0 1.5em 1.5em 0;
	transform: rotate(-3deg);
}
.Overlay-left--slide-enter {
	transform: rotate(-3deg) translateX(-100%);
}
.Overlay-left--slide-exit,
.Overlay-left--slide-enter-active,
.Overlay-left--slide-enter-done {
	transform: rotate(-3deg);
}
.Overlay-left--slide-exit-active,
.Overlay-left--slide-exit-done {
	transform: rotate(-3deg) translateX(-100%);
}

.Overlay-right {
	border-radius: 1.5em 0 0 1.5em;
	transform: rotate(3deg);
}
.Overlay-right--slide-enter {
	transform: rotate(3deg) translateX(100%);
}
.Overlay-right--slide-exit,
.Overlay-right--slide-enter-active,
.Overlay-right--slide-enter-done {
	transform: rotate(3deg);
}
.Overlay-right--slide-exit-active,
.Overlay-right--slide-exit-done {
	transform: rotate(3deg) translateX(100%);
}

.Overlay-left--slide-enter-active,
.Overlay-left--slide-exit-active,
.Overlay-right--slide-enter-active,
.Overlay-right--slide-exit-active {
	transition: transform var(--animation-enter);
}
