.OverlayEggGraph {
	--oleg-height: 12em;
	contain: strict;
	position: absolute;
	top: calc(28.5em - var(--oleg-height));
	right: -.75em;
	width: 20em;
	height: var(--oleg-height);

	padding-right: 3em;
}
.OverlayEggGraph-status {
	--oleg-height: 18em;
	width: 22em;
}
