.EggGraph {
	top: 12.5em;
	right: -18px;
	padding: .25em 2em 0 1.25em;
	width: 24em;

	border-radius: 1.5em 0 0 1.5em;
}
.EggGraph-final {
	top: 0px;
}

.EggGraph-clear {
	color: #6AF6CD;
}
.EggGraph-failure {
	color: #FF5033;
}

.EggGraph header {
	font-size: 1.25em;
	font-weight: bold;
	line-height: 1.6;
	color: #FFFFFF;
}

.EggGraph svg {
	margin-top: -40px;
	font-size: inherit;
}

.EggGraph text {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: -.005em;
}

.EggGraph-axis-x line,
.EggGraph-axis-y line {
	stroke: #999999;
	stroke-width: 3px;
}

.EggGraph-axis-x text {
	fill: #FFFFFF;
	font-size: 1em;
	transform: translateY(.5em);
}
.EggGraph-axis-y text {
	fill: #FFFFFF;
	font-size: .666666em;
}
.EggGraph-axis-y-tick text {
	fill: #FFFFFF;
	font-size: 1em;
	transform: translate(-2px, 0);
}
