@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
	--animation-enter: 167ms cubic-bezier(.1, .9, .2, 1);

	--ctl-bg: #FFFFFF26;
	--ctl-bg--hover: #FFF3;
	--ctl-bg--disable: #FFFFFF09;
	--ctl-bg-opaque-l2: #A9A9A9;
	--ctl-bg-opaque-l2--hover: #BFBFBF;
	--ctl-bg-opaque-l2--disable: #5D5D5D;
	--ctl-bg-active: #FF8265CC;
	--ctl-bg-active--hover: #FF8265;
	--ctl-radius: 8px;
	--ctl-radius-sm: 6px;
	--ctl-st: #FFF3;
	--ctl-st-secondary: #FFFFFF1A;
	--ctl-st--focus: #FF8265; /* #DC3418 */
	--ctl-transition: background-color 123ms ease-in-out;

	--fg: #FFF;
	--fg-secondary: #FFF9;
	--fg-tertiary: #FFF6;
	--fg-pos: #6AF6CD;
	--fg-neg: #FF5033;

	--ink-default: #E64414 /* #C95431 */;
	--ink-blue: #4E66FB /* #435BF3 */;
	--ink-orange: #DE3E07 /* #C44b21 */;
	--ink-pink: #EC1B84 /* #C64184 */;
	--ink-purple: #8F53F8 /* #9361EA */;
	--ink-sunyellow: #FAAA07 /* #DDA024 */;
	--ink-yellow: #C3F517 /* #B4D933 */;
	--ink-support-yellow: #E6D909 /* #DDD112 */;

	--ink-default--neutral: #FBFB3B /* #E7E710 */;
	--ink-blue--neutral: #FBF03B /* #E9DD14 */;
	--ink-orange--neutral: #F4FB3B /* #DCE317 */;
	--ink-pink--neutral: #FBF13B /* #E3D704 */;
	--ink-purple--neutral: #F1FB3B /* #D3DD1E */;
	--ink-sunyellow--neutral: #FB3BDF /* #E114C3 */;
	--ink-yellow--neutral: #F23BFB /* #D611E0 */;
	--ink-support-yellow--neutral: #FB3BF3 /* #ED12E4 */;

	--wnd-bg: #272727CC;
	--wnd-bg-nonblur: #272727E6;
	--wnd-st: #FF8265;
	--wnd-backdrop: blur(32px);
	--wnd-radius: 12px;
}

html {
	scrollbar-color: #FFF3 #FFFFFF09;
}

body {
	overflow: clip;
	margin: 0;
	color: var(--fg);
	background-color: #4C4C4C;
	font-family: Oswald, 'Segoe UI Emoji', sans-serif, 'Apple Color Emoji', 'Segoe UI Symbol';
}
body.env-broadcast {
	background: transparent;
}

html:lang(ja) body, .SelectItem:lang(ja) {
	font-family: Oswald, 'Hiragino Maru Gothic Pro', 'BIZ UDPゴシック', Gulim, 'Segoe UI Emoji', sans-serif, 'Apple Color Emoji', 'Segoe UI Symbol';
}
html:lang(ko) body, .SelectItem:lang(ko) {
	font-family: Oswald, 'Apple SD Gothic Neo', 'Malgun Gothic', Gulim, 'Segoe UI Emoji', sans-serif, 'Apple Color Emoji', 'Segoe UI Symbol';
}
html:lang(zh-CN) body, .SelectItem:lang(zh-CN) {
	font-family: Oswald, 'PingFang SC', STHeitiSC, 'Heiti SC', '黒体-簡', 'Microsoft YaHei', 'Segoe UI Emoji', sans-serif, 'Apple Color Emoji', 'Segoe UI Symbol';
}
html:lang(zh-TW) body, .SelectItem:lang(zh-TW) {
	font-family: Oswald, 'PingFang TC', STHeitiTC, 'Heiti TC', '黒体-繁', 'Microsoft JhengHei', 'Segoe UI Emoji', sans-serif, 'Apple Color Emoji', 'Segoe UI Symbol';
}

.Message {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: var(--fg-tertiary);
	background-color: #000;
	font-size: 200%;
	user-select: none;
}
@supports (height: 100svh) {
	.Message {
		height: 100svh;
	}
}

p {
	margin: 0;
}

input,
input::-webkit-file-upload-button,
input::-webkit-slider-thumb,
button {
	appearance: none;
	font-family: inherit;
	font-size: inherit;
	user-select: none;
}

.Icon16 {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.Button,
.File::-webkit-file-upload-button,
.File::file-selector-button {
	box-sizing: border-box;
	border-radius: var(--ctl-radius);
	border-width: 0;
	padding: .375em .75em;
	outline: 2px solid transparent;

	color: var(--fg);
	background-color: var(--ctl-bg);
	transition: var(--ctl-transition);
}
.Button:hover,
.File:hover::-webkit-file-upload-button,
.File:hover::file-selector-button {
	background-color: var(--ctl-bg--hover);
}
.Button:focus-visible {
	outline-color: #FFFC;
}
.Button[disabled],
.File[disabled]::-webkit-file-upload-button,
.File[disabled]::file-selector-button {
	color: var(--fg-secondary);
	background-color: var(--ctl-bg--disable);
}

.TextBox {
	box-sizing: border-box;
	border: 1px solid var(--ctl-st);
	border-radius: var(--ctl-radius);
	padding: .375em .75em;
	outline: 0 none transparent;

	width: -webkit-fill-available;

	color: var(--fg);
	background-color: transparent;
	transition: border-color 123ms ease-in-out;
}
.TextBox:focus {
	border-color: var(--ctl-st--focus);
}
.TextBox:invalid {
	border-color: red;
}
.TextBox::placeholder {
	color: var(--fg-tertiary);
}
.TextBox[disabled] {
	border-color: var(--ctl-st-secondary);
	color: var(--fg-secondary);
}

.Slider {
	box-sizing: border-box;
	border-radius: var(--ctl-radius);
	padding: 0 .25em;
	outline: 2px solid transparent;

	min-width: 160px;
	height: 2em;

	background-color: transparent;
}
.Slider:focus-visible {
	outline-color: #FFFC;
}
.Slider::-webkit-slider-runnable-track {
	box-sizing: border-box;
	border-radius: var(--ctl-radius);
	outline: 4px solid var(--ctl-bg--disable);
	height: .666666em;
	background-color: var(--ctl-bg);
}
.Slider[disabled]::-webkit-slider-runnable-track {
	outline-color: transparent;
	background-color: var(--ctl-bg--disable);
}
.Slider::-webkit-slider-thumb {
	border-radius: 50%;

	width: .666666em;
	height: .666666em;

	background-color: var(--ctl-bg-opaque-l2);

	transform: scale(2.25);
}
.Slider::-webkit-slider-thumb:hover {
	background-color: var(--ctl-bg-opaque-l2--hover);
}
.Slider::-webkit-slider-thumb:active {
	background-color: var(--ctl-bg-active--hover);
}
.Slider[disabled]::-webkit-slider-thumb {
	background-color: var(--ctl-bg-opaque-l2--disable);
}

.Slider::-moz-range-track {
	box-sizing: border-box;
	border-radius: var(--ctl-radius);
	outline: 4px solid var(--ctl-bg--disable);
	height: .666666em;
	background-color: var(--ctl-bg);
}
.Slider[disabled]::-moz-range-track {
	outline-color: transparent;
	background-color: var(--ctl-bg--disable);
}
.Slider::-moz-range-thumb {
	border: 0 none transparent;
	border-radius: 50%;

	width: .666666em;
	height: .666666em;

	background-color: var(--ctl-bg-opaque-l2);

	transform: scale(2.25);
}
.Slider::-moz-range-thumb:hover {
	background-color: var(--ctl-bg-opaque-l2--hover);
}
.Slider::-moz-range-thumb:active {
	background-color: var(--ctl-bg-active--hover);
}
.Slider[disabled]::-moz-range-thumb {
	background-color: var(--ctl-bg-opaque-l2--disable);
}

.InputFlex-appendix {
	flex-shrink: 0;
	box-sizing: border-box;
	border: 1px solid var(--ctl-st);
	border-left-width: 0;
	border-right-width: 0;
	border-radius: var(--ctl-radius);
	padding: .375em .75em;

	color: var(--fg-secondary);
	background-color: var(--ctl-bg--disable);
}
.InputFlex-appendix:first-child {
	border-left-width: 1px;
}
.InputFlex-appendix:last-child {
	border-right-width: 1px;
}
.InputFlex-appendix-plain {
	padding: .375em .75em;
}
.InputFlex-appendix-plain-narrow {
	padding: .375em .5em;
}

.InputFlex {
	box-sizing: border-box;
	display: flex;
}
.InputFlex > button {
	flex-shrink: 0;
}
.InputFlex > .InputFlex-appendix:not(:first-child),
.InputFlex > button:not(:first-child),
.InputFlex > input:not(:first-child) {
	padding-left: .625em;
}
.InputFlex:not(.InputFlex-nofit-corner) > .InputFlex-appendix:not(:first-child),
.InputFlex:not(.InputFlex-nofit-corner) > button:not(:first-child),
.InputFlex:not(.InputFlex-nofit-corner) > input:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.InputFlex > .InputFlex-appendix:not(:last-child),
.InputFlex > button:not(:last-child),
.InputFlex > input:not(:last-child) {
	padding-right: .625em;
}
.InputFlex:not(.InputFlex-nofit-corner) > .InputFlex-appendix:not(:last-child),
.InputFlex:not(.InputFlex-nofit-corner) > button:not(:last-child),
.InputFlex:not(.InputFlex-nofit-corner) > input:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

/* .InputFlex {
	box-sizing: border-box;
	border: 1px solid var(--ctl-st);
	border-radius: var(--ctl-radius);

	transition: border-color 123ms ease-in-out;
}
.InputFlex:focus-within {
	border-color: var(--ctl-st--focus);
}
.InputFlex:has(> .TextBox:invalid) {
	border-color: red;
}
.InputFlex >.TextBox {
	border-width: 0;
} */

.File:focus-visible {
	border-radius: var(--ctl-radius);
	outline: 2px solid #FFFC;
}

.StatusText {
	vertical-align: middle;
}
.StatusText-positive {
	color: var(--fg-pos);
}
.StatusText-negative {
	color: var(--fg-neg);
}
.StatusText > .Icon16:first-child {
	margin-right: .125em;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}
