.NotificationHost {
	box-sizing: border-box;
	contain: content;
	overflow: clip auto;
	position: fixed;
	scrollbar-gutter: always;
	right: calc(50vw - 0.5 * var(--ol-width));
	bottom: calc(100vh - var(--ol-height));
	z-index: 99;

	display: flex;
	flex-direction: column;
	gap: 8px;

	width: 100%;
	max-width: 332px;
	height: max-content;
	max-height: var(--ol-height);

	margin: 0 auto;
	padding: 8px 12px 8px 8px;

	font-size: 14px;
}

@keyframes slideIn {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes slideRight {
	from {
		transform: translateX(var(--radix-toast-swipe-end-x));
	}
	to {
		transform: translateX(100%);
	}
}

.Notification {
	flex-shrink: 0;

	contain: content;
	overflow: clip;
	padding: 8px 12px;
	
	border-radius: 12px;

	color: var(--fg);
	background-color: var(--wnd-bg-nonblur);

	list-style: none;

	body:not(.env-nonblur) & {
		background-color: var(--wnd-bg);
		backdrop-filter: var(--wnd-backdrop);
		-webkit-backdrop-filter: var(--wnd-backdrop);
	}

	&[data-state=open] {
		animation: slideIn var(--animation-enter);

		.ax-reduced & {
			animation: fadeIn 167ms ease-out;
		}
	}
	&[data-state=closed] {
		animation: fadeOut 100ms ease-in;
	}

	&[data-swipe=move] {
		transform: translateX(var(--radix-toast-swipe-move-x));
	}
	&[data-swipe=cancel] {
		transform: unset;
		transition: transform var(--animation-enter);
	}
	&[data-swipe=end] {
		animation: slideRight var(--animation-enter);
	}

	&:focus-visible {
		outline: 2px solid #FFFC;
	}
}

.Notification-description {
	color: #FFF9;
}

.Notification-close {
	position: absolute;
	top: 0;
	right: 0;

	border: 0 none transparent;

	width: 48px;
	height: 32px;

	color: var(--fg);
	background-color: transparent;
	opacity: 0;
	transition: opacity 67ms ease-in-out;

	.Notification:hover > & {
		opacity: 1;
	}

	&:hover {
		background-color: var(--ctl-bg);
	}
	&:focus-visible {
		outline: 2px solid #FFFC;
	}
	&[disabled] {
		color: var(--fg-secondary);
		background-color: var(--ctl-bg--disable);
	}
}
